 .content {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: left;
    flex-wrap: wrap;
  }
  
  .content div {
    width: 190px;
    height: max-content;
    /* margin: px; */
    /* padding: 20px; */
    text-align: center;
  } 
  .nameSect{
    color: red;
    font-size: 20px;
    margin-left: 20px;
    font-weight: 700;
    margin-bottom: 0;
    margin-top: 15px;
    padding-bottom: 0;
  }
  